# Things Nessassary to run
This project is using xdotool to do basically everything

Use your package manager to install it
#Arch
For Arch Based Linux Distros please use
```Sudo pacman -S xdotool```



#Debian
For Debian Based Linux Distros please use
```Sudo apt install xdotool```
